/* general styling */

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

h1 {
    color: green;
    font-size: 2.5rem;
    text-align: center;
}


/* utility */

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.center {
    align-items: center;
    justify-content: center;
}

.center-start {
    align-items: center;
    justify-content: flex-start;
}

.wrap {
    flex-wrap: wrap;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: translateY(20px) scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.invisible {
    visibility: hidden;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.blue {
    color: blue;
}

.green {
    color: green;
}


/* structure */

header {
    width: 100%;
    background: #cfcfcd;
    padding: 2rem;
}

.container {
    max-width: 500px;
    height: 500px;
    justify-content: start;
    padding: 2rem 0;
    margin-bottom: 4rem;
}

.item {
    border-radius: 50%;
    animation: bounce 2s infinite;
    height: 50px;
    width: 50px;
    margin: 1rem;
}


/* footer */

footer {
    background-color: #0d1321;
    box-shadow: 0 5px 20px 0 #101111;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}

footer p {
    font-size: 14px;
    color: #fffafb;
    text-align: center;
}

footer a {
    border-bottom: 1px dashed #fffafb;
    letter-spacing: 0.5px;
    padding: 0 2px;
    font-weight: bold;
    font-size: 14px;
    color: #c51c53;
}

footer a:hover {
    color: #d45981;
    border-bottom: 1px solid #fffafb;
}