/* general styling */

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: #ffcad4;
    color: #595f72;
    font-family: 'Nanum Gothic', sans-serif;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

p {
    font-size: 1.2rem;
}


/* utility */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

.active {
    transform: rotateX(180deg);
}

.active .card-back {
    transform: rotateX(180deg);
}

.padding-md {
    padding: 2rem;
}

.padding-md-el {
    padding: 2rem 0;
}

.mb-1 {
    margin-bottom: 1rem;
}


/* structure */

.container {
    width: 350px;
    height: 300px;
    perspective: 500px;
    text-align: center;
    line-height: 1.5;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.4s;
    transform-style: preserve-3d;
}

.card-inner {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.card-front {
    background-color: #e1dee9;
    box-shadow: 0 0px 5px #595f72;
    color: #595f72;
}

.card-back {
    background-color: #595f72;
    color: #e1dee9;
    transform: rotateY( 180deg);
}


/* footer */

footer {
    background-color: #0d1321;
    box-shadow: 0 5px 20px 0 #101111;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}

footer p {
    font-size: 14px;
    color: #fffafb;
    text-align: center;
}

footer a {
    border-bottom: 1px dashed #fffafb;
    letter-spacing: 0.5px;
    padding: 0 2px;
    font-weight: bold;
    font-size: 14px;
    color: #c51c53;
}

footer a:hover {
    color: #d45981;
    border-bottom: 1px solid #fffafb;
}