/* general styling */

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: #f84aa7;
    color: #1b1b3a;
    font-family: 'Chakra Petch', sans-serif;
    min-height: 100vh;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

input,
button {
    font-family: 'Chakra Petch', sans-serif;
}

input {
    border: none;
    color: #1b1b3a;
    padding: 0.5rem 0;
    padding-left: 0.5rem;
}

button {
    border: none;
    background-color: #f84aa7;
    color: #fff;
    padding: 0.5rem;
}


/* utility */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

.mt-auto {
    margin-top: auto;
}

.mb-1 {
    margin-bottom: 1rem;
}


/* structure */

.container {
    background-color: #cfcfea;
    box-shadow: 4px 4px #1b1b3a;
    min-width: 300px;
    height: 300px;
    padding: 2rem;
    text-align: center;
}


/* footer */

footer {
    background-color: #0d1321;
    box-shadow: 0 5px 20px 0 #101111;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}

footer p {
    font-size: 14px;
    color: #fffafb;
    text-align: center;
}

footer a {
    border-bottom: 1px dashed #fffafb;
    letter-spacing: 0.5px;
    padding: 0 2px;
    font-weight: bold;
    font-size: 14px;
    color: #c51c53;
}

footer a:hover {
    color: #d45981;
    border-bottom: 1px solid #fffafb;
}