/* general styling */

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: #5e708e;
    color: #202835;
    font-family: 'Share Tech Mono', monospace;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.input input {
    border: 1px solid #b5becb;
    font-family: 'Share Tech Mono', monospace;
    height: 2.5rem;
    margin-left: auto;
    width: 4.5rem;
    padding: 0.5rem;
}

label {
    margin-right: 1rem;
}

.input input:focus {
    border: 1px solid #344055;
}

.input {
    margin-bottom: 1rem;
}

code {
    text-align: center;
    white-space: pre;
}

pre {
    background: #b5becb;
    border: 1px solid #344055;
    border-left: 3px solid #c783e2;
    color: #202835;
    page-break-inside: avoid;
    line-height: 1.5;
    max-width: 100%;
    overflow: auto;
    padding: 1rem 1.5rem;
    display: block;
    word-wrap: normal;
}


/* utility */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

.padding-md {
    padding: 2rem;
}

.mt-2 {
    margin-top: 2rem;
}


/* structure */

.container {
    padding: 2rem;
    margin-bottom: 4rem;
    width: 100%;
}

.item,
.code-container {
    min-width: 400px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #c783e2;
}


/* footer */

footer {
    background-color: #0d1321;
    box-shadow: 0 5px 20px 0 #101111;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}

footer p {
    font-size: 14px;
    color: #fffafb;
    text-align: center;
}

footer a {
    border-bottom: 1px dashed #fffafb;
    letter-spacing: 0.5px;
    padding: 0 2px;
    font-weight: bold;
    font-size: 14px;
    color: #c51c53;
}

footer a:hover {
    color: #d45981;
    border-bottom: 1px solid #fffafb;
}