/* general styling */

html {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #ea526f;
    color: #070600;
    min-height: 100vh;
    font-family: 'Caveat', cursive;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 27px;
}

i {
    color: #070600;
    font-size: 27px;
}

p {
    font-size: 1.2rem;
}

textarea {
    border: 1px solid #070600;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
    width: 100%;
    resize: vertical;
}


/* utility */

.center-start {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.ml-auto {
    margin-left: auto;
}

.btn {
    border: none;
    background: transparent;
}


/* structure */

.container {
    width: 100%;
    height: 100%;
    padding: 3rem 5rem;
    grid-gap: 2rem;
}

.container>div {
    background-color: #f7f7ff;
    margin: 2rem;
    min-height: 350px;
    box-shadow: 0 0 10px #040300;
    border-radius: 16px;
    border: 2px solid #ea526f;
}

.add-container {
    width: 300px;
}

.add-head {
    padding: 1rem;
    border-bottom: 2px solid #ea526f;
}

.add-body {
    padding: 1rem;
}

.note {
    width: 300px;
    height: 300px;
}

.note-body {
    padding: 1rem 1rem 2rem;
}


/* footer */

footer {
    background-color: #0d1321;
    box-shadow: 0 5px 20px 0 #101111;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}

footer p {
    font-size: 14px;
    color: #fffafb;
    text-align: center;
}

footer a {
    border-bottom: 1px dashed #fffafb;
    letter-spacing: 0.5px;
    padding: 0 2px;
    font-weight: bold;
    font-size: 14px;
    color: #c51c53;
}

footer a:hover {
    color: #d45981;
    border-bottom: 1px solid #fffafb;
}