/* general styling */

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    color: #0a0809;
    font-family: 'Martel Sans', sans-serif;
    min-height: 100vh;
}

section {
    min-height: 100vh;
    padding: 2rem;
    line-height: 1.5;
}

a {
    color: #e5fcff;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px dashed #0a0809;
}

button {
    font-family: 'Martel Sans', sans-serif;
}

h1 {
    color: #0a0809;
    font-size: 3rem;
    text-align: center;
}

p {
    color: #0a0809;
}

#intro p {
    color: #e5fcff;
    font-size: 1.2rem;
}

h2 {
    color: #e5fcff;
    font-size: 2.5rem;
    text-align: center;
}

img {
    width: 300px;
    height: auto;
}


/* utility */

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-col {
    display: flex;
    flex-direction: row;
}

.wrap {
    flex-wrap: wrap;
}

.center {
    align-items: center;
    justify-content: center;
}

.bkgd-color {
    background-color: #7bdff2;
}

.alt-bkgd-color {
    background-color: #ffcad4;
}

.space-between {
    justify-content: space-between;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mb-auto {
    margin-bottom: auto;
}

.ml-auto {
    margin-left: auto;
}

.fixed-full-width {
    background-color: rgba(255, 255, 255, 0.1);
    position: fixed;
    width: 100%;
}

.strike {
    text-decoration: line-through;
}

.lowlight {
    color: rgba(255, 255, 255, 0.5);
}

.btn {
    background-color: #b2f7ef;
    border: 1px solid #e5fcff;
    color: #0a0809;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    width: 100%;
}

.btn:hover {
    background-color: #a2e1da;
    cursor: pointer;
}


/* structure */

header {
    padding: 2rem;
}

header a {
    font-size: 1.2rem;
}

main {
    margin-bottom: 2.5rem;
}

.container {
    width: 100%;
    height: 100%;
}

.left-side,
.right-side {
    width: 50%;
    padding: 1rem 2rem;
    min-height: 300px;
    text-align: center;
}

.right-side>div {
    width: 100%;
}

.left-row,
.right-row {
    width: 50%;
}

#about,
#contact {
    min-height: 50vh;
}

.project-container {
    min-height: 300px;
    min-width: 300px;
    margin: 1rem;
}

.project-desc,
.img-container {
    width: 100%;
    height: 100%;
}

.project-desc>div {
    width: 50%;
    margin: 0.1rem;
}

#contact a {
    color: #0a0809;
}

#projects a {
    border: none;
}

#contact a:hover {
    border-color: #e5fcff;
}


/* footer */

footer {
    background-color: #0d1321;
    box-shadow: 0 5px 20px 0 #101111;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}

footer p {
    font-size: 14px;
    color: #fffafb;
    text-align: center;
}

footer a {
    border-bottom: 1px dashed #fffafb;
    letter-spacing: 0.5px;
    padding: 0 2px;
    font-weight: bold;
    font-size: 14px;
    color: #c51c53;
}

footer a:hover {
    color: #d45981;
    border-bottom: 1px solid #fffafb;
}


/* media queries */

@media screen and (max-width: 600px) {
    #intro {
        min-height: 50vh;
    }
    .flex-row-col {
        display: flex;
        flex-direction: column;
    }
    .social-medias {
        margin-bottom: 2rem;
        margin-right: 0;
    }
    .left-side,
    .right-side {
        width: 100%;
        padding: 0;
        min-height: 150px;
    }
}