/* general styling */

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 1.2rem;
}


/* utility */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

.mt-1 {
    margin-top: 1rem;
}


/* structure */

.container {
    width: 100%;
}

.box {
    background-color: #cde7b0;
    border: 5px solid #7286a0;
    height: 300px;
    width: 300px;
    position: relative;
}

.icon {
    color: #ba1200;
    position: absolute;
    font-size: 20px;
}


/* footer */

footer {
    background-color: #0d1321;
    box-shadow: 0 5px 20px 0 #101111;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}

footer p {
    font-size: 14px;
    color: #fffafb;
    text-align: center;
}

footer a {
    border-bottom: 1px dashed #fffafb;
    letter-spacing: 0.5px;
    padding: 0 2px;
    font-weight: bold;
    font-size: 14px;
    color: #c51c53;
}

footer a:hover {
    color: #d45981;
    border-bottom: 1px solid #fffafb;
}