/* general styling */

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: #efeff4;
    color: #110f11;
    min-height: 100vh;
    font-family: 'Simonetta', serif;
}

a {
    text-decoration: none;
}

button {
    background-color: #110f11;
    border: none;
    box-shadow: 5px 5px #bebdbe;
    color: #efeff4;
    font-family: 'Simonetta', serif;
    font-weight: 900;
    font-size: 1.5rem;
    height: 2.5rem;
    width: 12rem;
    transition: ease-in-out 0.4s;
}

button:active {
    box-shadow: 0px 0px #bebdbe;
}

h1 {
    font-size: 2rem;
    font-weight: 900;
}

i {
    color: #110f11;
    font-size: 54px;
}


/* utility */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

.padding-md {
    padding: 2rem;
}

.padding-md-el {
    padding: 2rem 0;
}

.mb-auto {
    margin-bottom: auto;
}

.full-width {
    width: 100%;
}


/* structure */

header {
    background-color: #110f11;
    color: #efeff4;
}


/* footer */

footer {
    background-color: #0d1321;
    box-shadow: 0 5px 20px 0 #101111;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}

footer p {
    font-size: 14px;
    color: #fffafb;
    text-align: center;
}

footer a {
    border-bottom: 1px dashed #fffafb;
    letter-spacing: 0.5px;
    padding: 0 2px;
    font-weight: bold;
    font-size: 14px;
    color: #c51c53;
}

footer a:hover {
    color: #d45981;
    border-bottom: 1px solid #fffafb;
}